.pic {
 background-image: url("../img/picture2.jpg");
 height: 60vh;
 background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
h1 {
	color: white;
  text-align: center;
  font-size: 150px;
}

.pic2{ 
	width: 70%;
 }
.pic3{
 	width: 70%;
 }
.pic2 {
  display: block;
  width: 50%;
}
.pic{ 
width: 100%;
 }
 .right {
 	text-align: right;
 	text-align: -webkit-right;
 }
 body{
  background-color: #CDE77F;
  color: white;
  font-size: 15px;
 .third-section{
  background-image: url("../img/leopard-print.jpg");
 }
 .row{
  height: 50vh; /* For X% screen height */;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-section{
  background-image: url("../img/greenyellow.jpg");
}